Repository ARM-DOE/pyart, pull requests merged in 2022-03, with the labels that each got.

#1050 Build Examples with Github Actions
  .github/workflows/build_docs.yml
  doc/environment.yml
  examples/correct/plot_attenuation.py
  examples/correct/plot_dealias.py
  examples/mapping/plot_map_one_radar_to_grid.py
  examples/mapping/plot_map_two_radars_to_grid.py
  examples/plotting/plot_nexrad_multiple_moments.py
  examples/plotting/plot_nexrad_reflectivity.py
  examples/plotting/plot_ppi_mdv.py
  examples/plotting/plot_ppi_sigmet.py
  examples/plotting/plot_ppi_with_rings.py
  examples/plotting/plot_rhi_cfradial.py
  examples/plotting/plot_rhi_contours_differential_reflectivity.py
  examples/plotting/plot_rhi_data_overlay.py
  examples/plotting/plot_rhi_mdv.py
  examples/plotting/plot_rhi_sigmet.py
  examples/plotting/plot_rhi_two_panel.py
  examples/plotting/plot_three_panel_gridmapdisplay.py
  examples/plotting/plot_xsect.py
Labels: Enhancement

#1066 Add tests for simple moments
  pyart/retrieve/tests/test_simple_moment_calculations.py
Labels: component: pyart.retrieve

#1067 TST: Adding more tests to gatefilter.
  pyart/default_config.py
  pyart/filters/tests/test_gatefilter.py
Labels: component: pyart.correct

#1074 Add blog sidebar
  doc/source/conf.py
Labels: Enhancement, Docs

#1071 Added RXM-25 reader
  pyart/aux_io/rxm25.py
Labels: Enhancement, component: pyart.aux_io

#1077 ADD: Gatefilter to GateMapper.
  pyart/map/gate_mapper.py
  pyart/map/tests/test_gatemapper.py
Labels: Enhancement, component: pyart.map
